@page "/users"

@using StudentManagementWeb.Data
@using StudentManagementWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserService UserService

<h1>Users Data</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" style="table-layout: fixed;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Image URL</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr style="word-wrap: break-word;">
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>
                        <img style="max-width:50px; max-height:50px;" src="@user.ImageUrl" />
                    </td>
                    <td>
                        <a href="/edituser/@user.Id" class="btn btn-warning">Edit</a>
                        
                            <button class="btn btn-danger" @onclick="@(()=>DeleteUser(@user.Id))">Delete</button>
                        

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private User[] users;

    [Parameter]
    public int Id { get; set; }


    protected override async Task OnInitializedAsync()
    {

        users = (await UserService.GetUsers()).ToArray();
    }
    //https://www.aspsnippets.com/Articles/Server-Side-Yes-No-Confirmation-Message-Box-in-Controller-in-ASPNet-MVC-Razor.aspx
    //<a href="ControllerName/ActionName" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>

    private async Task DeleteUser(int id)
    {
        //User user = await UserService.GetUser(Id);
        await UserService.DeleteUser(id);
        await OnInitializedAsync();
    }


}


 